body{
    text-align: center;
}
.gallery ul {
    margin-left: 70px;
    margin-right: 70px;
}
.gallery li{
    vertical-align: middle;
    border: 0.4rem black solid;
    display: inline-flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 20%;
}
.gallery img {
    width: 100%;
    height: 100%;
}