body{
    margin-left: 10%;
    margin-right: 10%;
}
.gallery {
    place-items: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery img {
    border: 0.4rem black solid;
    padding: 10px;
    max-height: 300px;
}
